*{
    box-sizing: border-box;                                                
    padding: 0;
    margin: 0;
    Font type: Poppins,  Actor, Adamina
    
    
}

body{
    height: 100vh;
    width: 100%;
}

.home_page{
    background-image: url(../image/moving\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    
    
}

.home_page nav{
    text-decoration: none;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;


}

.home_page nav ul{
    text-align: center;
    
}

.home_page nav ul li{
    display: inline-block;
    padding: 10px 25px;
    list-style-type: none;

}


.home_page nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

ul li #btn_1{
    background-color: yellow;
    
}

ul li #btn_2{
    background-color: black;
}


h2{
    color: yellow;
    font-size: 50px;
    font-weight: lighter;
    margin-left: 4cm;
    padding-top: 4%;
    
}

p{
    color: white;
    font-size: 30px;
    margin-left: 4cm;
    padding-top: 3cm;
}


